<!-- Main content wrapper -->
<div class="content-wrapper">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fab-button-padding">
    <ion-fab-button color="secondary" id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Filters Section (NON-EXPANDING) -->
  <ion-row>
    <!-- <ion-col size="3" class="ion-no-padding">
      <ion-card color="danger">
        <ion-card-header>
          <ion-card-subtitle> <b><ion-icon name="stats-chart" class="ion-padding-end"></ion-icon>Variable Expenses</b> </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><ion-icon name="fast-food" class="ion-padding-start ion-padding-end"></ion-icon>Food</p>
          <p><ion-icon name="car" class="ion-padding-start ion-padding-end"></ion-icon>Gasoline</p>
          <p><ion-icon name="heart" class="ion-padding-start ion-padding-end"></ion-icon>Self-Care</p>
          <p><ion-icon name="person" class="ion-padding-start ion-padding-end"></ion-icon>Personal</p>
        </ion-card-content>
      </ion-card>
    </ion-col> -->

    <ion-col size="6" size-sm="3" class="ion-no-padding">
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-subtitle><ion-icon name="checkmark-circle" class="button-icon-custom-padding"></ion-icon>Remaining
            Budget:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle class="ion-text-right">
            <h1> <b> ₱ 2,000.00 </b> </h1>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6" size-sm="3" class="ion-no-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="danger"><ion-icon name="close-circle"
              class="button-icon-custom-padding"></ion-icon>Outflow:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle color="danger" class="ion-text-right">
            <h1> <b> ₱ 2,000.00 </b> </h1>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6" size-sm="3" class="ion-no-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><ion-icon name="cash"
              class="button-icon-custom-padding"></ion-icon>Budget:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle class="ion-text-right">
            <h1> <b> ₱ 2,000.00 </b> </h1>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6" size-sm="3" class="ion-no-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="secondary"><ion-icon name="wallet"
              class="button-icon-custom-padding"></ion-icon>Funds:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle color="secondary" class="ion-text-right">
            <h1> <b> ₱ 2,000.00 </b> </h1>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <!-- CASHFLOW LIST SECTION (EXPANDING) -->
  <ion-row class="expanding-row">


    <ion-col size="12" class="expanding-col ion-no-padding">
      <ion-card class="expanding-card">
        <ion-card-header>
          <ion-card-subtitle>Expenses</ion-card-subtitle>
        </ion-card-header>
        <!-- Make content area scrollable -->
        <ion-card-content class="expanding-content">
          <ion-list>
            <ion-item class="ion-no-padding">
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label>Awesome Label</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</div>

<!-- Add Expense Modal -->
<ion-modal trigger="open-modal" [canDismiss]="canDismiss">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="end">
          <ion-button (click)="cancel()"><ion-icon slot="end" name="close"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>Add Expense</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- EXPENSE TYPE SELECTION -->
      <ion-select interface="popover" label="Type" label-placement="floating" fill="outline" style="padding-top: 8px;" [(ngModel)]="selectedExpenseType" (ionChange)="onTypeChange($event)" [required]="true">
        @for (expense of expenses; track expense) {
          <ion-select-option [value]="expense.Type"><b>{{ expense.Type }}</b></ion-select-option>
          }
      </ion-select>
      <!-- EXPENSE CATEGORY SELECTION -->
      <ion-select interface="popover" label-placement="floating" fill="outline" style="padding-top: 24px;" 
        [label]="selectedExpenseType == 'Extra' ? 'No category needed.' : 'Category'"
        [required]="selectedExpenseType == 'Extra' ? false : true"
        [disabled]="!selectedExpenseType || selectedExpenseType == 'Extra'"
        [(ngModel)]="selectedCategory">
        @for (category of availableCategories; track category) {
          <ion-select-option [value]="category">{{ category }} </ion-select-option>
        }
        @if (selectedExpenseType && availableCategories.length === 0) {
          <ion-select-option [disabled]="true">No categories for this type</ion-select-option>
        }
      </ion-select>
      <!-- EXPENSE REMARKS -->
      <div style="padding-top: 24px;">
        <ion-input label="Remarks" label-placement="floating" fill="outline" type="text" placeholder="Enter details about this expense."></ion-input>
      </div>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="confirm()"><ion-icon slot="start" name="checkmark"></ion-icon>
            Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>